name: Lint and Test Charts
on:
  pull_request:
    paths:
    - charts/**
jobs:
  lint-chart:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579 # tag=v2.4.0
    - name: Run chart-testing (lint)
      uses: helm/chart-testing-action@dae259e86a35ff09145c0805e2d7dd3f7207064a # tag=v2.2.1
      with:
        command: lint
        config: .github/ct.yaml
  lint-docs:
    runs-on: ubuntu-latest
    needs: lint-chart
    steps:
    - name: Checkout
      uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579 # tag=v2.4.0
    - name: Run helm-docs
      run: .github/helm-docs.sh
  kubeval-chart:
    runs-on: ubuntu-latest
    needs:
    - lint-chart
    - lint-docs
    strategy:
      matrix:
        k8s:
        - v1.23.3
        - v1.22.5
        - v1.21.2
        - v1.20.7
        - v1.19.11
        - v1.18.19
        - v1.17.17
        - v1.16.15
        - v1.15.12
        - v1.14.10
    steps:
    - name: Checkout
      uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579 # tag=v2.4.0
    - name: Run kubeval
      env:
        KUBERNETES_VERSION: ${{ matrix.k8s }}
      run: .github/kubeval.sh
  install-chart:
    name: install-chart
    runs-on: ubuntu-latest
    needs:
    - lint-chart
    - lint-docs
    - kubeval-chart
    strategy:
      matrix:
        k8s:
        - v1.23.3
        - v1.22.5
        - v1.21.2
        - v1.20.7
        - v1.19.11
        - v1.18.19
        - v1.17.17
        - v1.16.15
        - v1.15.12
        - v1.14.10
    steps:
    - name: Checkout
      uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579 # tag=v2.4.0
    - name: Create kind ${{ matrix.k8s }} cluster
      uses: helm/kind-action@94729529f85113b88f4f819c17ce61382e6d8478 # renovate: tag=v1.2.0
      with:
        node_image: kindest/node:${{ matrix.k8s }}
    - name: Run chart-testing (install)
      uses: helm/chart-testing-action@dae259e86a35ff09145c0805e2d7dd3f7207064a # tag=v2.2.1
      with:
        command: install
        config: .github/ct.yaml
